 
<footer class="footer">
	  <small>
		<p id="centertext">&copy; Bank of Rory 2014</p>
	  </small>
	</footer>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug also included-->
    <!-- Full Min js -->
    <script src="javascripts/main.min.js"></script>
  </body>
</html>