 
<footer class="footer">
	  <small>
		<p id="centertext">&copy; Bank of Rory 2014</p>
	  </small>
	</footer>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	 <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>